[submodule "contrib/extract"]
	path = contrib/extract
	url = git://github.com/iley/extract.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "contrib/gitflow"]
	path = contrib/gitflow
	url = git://github.com/nvie/gitflow.git
[submodule "contrib/map"]
	path = contrib/map
	url = git://github.com/sitaramc/map.git
[submodule "contrib/willgit"]
	path = contrib/willgit
	url = git://gitorious.org/willgit/mainline.git
