# vim:filetype=i3conf
exec --no-startup-id dunst
exec --no-startup-id nvidia-settings --load-config-only
exec --no-startup-id kbdd
exec --no-startup-id dropbox start
exec --no-startup-id skype
exec --no-startup-id gajim
exec --no-startup-id urxvt -title scratchpad_term -bd "#dfdbd0"
exec --no-startup-id btsync-restart
exec --no-startup-id start-pulseaudio-x11
