# vim:filetype=i3conf
workspace 1 output xinerama-0
workspace 2 output xinerama-0
workspace 3 output xinerama-0
workspace 4 output xinerama-0
workspace 5 output xinerama-0
workspace 6 output xinerama-0
workspace 7 output xinerama-0
workspace 8 output xinerama-0
workspace 9 output xinerama-0
workspace 10 output xinerama-0
workspace tv output xinerama-1

assign [class="xbmc.bin"] tv
for_window [class="xbmc.bin"] fullscreen
assign [class="zsnes"] tv
for_window [class="zsnes"] fullscreen

exec --no-startup-id xset s off
exec --no-startup-id xset -dpms
